section.team
	.container 
		+blockBox("Who we are", "Meet our team", "Lorem ipsum dolor sit met consectetur adipisicing elit. Doloremque veniem liberi optio. Atque necssitatibus voluptate explicabo susciplit excepturi numquam dugnissimon corporis molestiae dolorum laudentium veritatis, voluptas aliquit perspiciatis expedita praesentium!")
		.team-list 
			+teamItem
				+teamSocial("chang")
			+teamItem("./images/img-team2.png", " Christopher Cambell", "Branding UX/Design")
				+teamSocial("chang")
			+teamItem("./images/img-team3.png", "Michael Fertig ", "Developer ")
				+teamSocial("chang")
section.brand 
	.container 
		img(src="./images/img-logos.png" alt="brands")