section.work 
	.container 
		+blockBox("What we do", "Some of out work", "Lorem ipsum dolor sit amet consecteter adipisicing elit. Dolor ration accusantium repellat ipsa veniam facilis rerum distinctio saepe, nesciunt unde omnis in magni eaque doloremque eligendi hic aperiam tempore sunt!")
	.work-list 
		.work-column 
			+workItem("./images/img-work1.png", "./images/img-work-icon.png")
			+workItem("./images/img-work2.png", "./images/img-work-icon.png", "Photographer Frontend")
		.work-column 
			+workItem("./images/img-work3.png", "./images/img-work-icon.png", "Photographer")
			+workItem("./images/img-work4.png", "./images/img-work-icon.png", "Frontend Developer")
		.work-column
			+workItem("./images/img-work5.png", "./images/img-work-icon.png", "Frontend Developer", "work-item--full")
		.work-column 
			+workItem("./images/img-work6.png", "./images/img-work-icon.png", "Frontend Developer")
			+workItem("./images/img-work7.png", "./images/img-work-icon.png", "Frontend Developer")
			